<h1>List of jobs</h1>

<% jobs.forEach((job) => { %>
    <h3><%= job.title %></h3>
    <p><%= job.company %></p>
    <p><%= job.location %></p>
    <a href="/jobs/<%= job.id %>">
        View details
    </a>
    <a href="/jobs/<%= job.id %>/edit">
        Edit
    </a>
    <form action="/jobs/<%= job.id %>/delete" method="POST">
        <button type="submit">
            Delete
        </button>
    </form>
    <hr>
<% }) %>

